<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All article belong to <a href="https://www.theonion.com/" target="_blank">The Onion</a>
            <a class="grey-text text-lighten-4  right" href="/articles.json">Articles JSON</a>
        </div>
    </div>
</footer>