<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">News Scrapper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape"></a></li>
            <li><a href=https://github.com/Kbuchanan032/news-scraper target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>